@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #FBFBFB;
  font-family: 'Poppins', sans-serif;
}
.heroSection {
  position: relative;  /* Asegura que los elementos con 'absolute' tomen este como referencia */
  width: 100%;
  height: 100vh;  /* Ajusta según necesidad */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para evitar desbordamientos */
} 
.heroSection img {
  position: absolute;
  top: 0;  /* Ajusta según necesidad */
  right: 0;
  transform: scaleX(-1);
  width: 1160px;
  mask-image: linear-gradient(
    black 85%,
    transparent
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.startHere {
  position: absolute;
  top: 46%;
  left: 12%;
  transform: translateY(-50%);
  text-align: left;
}
.senasecLogo {
  position: absolute; 
  top: 6%;
  left: 12.1%;
  width: 80px; /* Ajusta el tamaño según lo necesites */
}
.senasecLogo img {
  width: 100%;
}  
.startHere h1 {
  font-size: 65px;
  color: #07D600;
  font-weight: bold;
}
