.container {
    place-items: center;
    margin: 150px 600px;
    display: flex;
    padding: 0 0 20px 0;
    background-color: #07D600;
    border-radius: 10px;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: #07D600;
    border-radius: 10px;
    padding: 15px 20px;
    width: fit-content;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: black;
}

.plus-symbol {
    font-size: 35px;
    margin: 9px 0px -10px 60px;
}

.dropdown-text {
    font-size: 30px;
    margin: 1px 0 -14px 20px;
}
