.card {
    /* border: solid #ff0000; */
    place-items: center;
    margin: 0 440px;
    display: flex;
    padding: 0 0 20px 0;
}
.card h2 {
    color: #07D600;
    font-size: 40px;
    font-weight: bold;
}
.textCard {
    /* border: solid blue; */
    padding: 0 30px 0 0;
}
.cardImage img {
    width: 500px;
    border-radius: 12px;
}
.textCardTwo {
    padding: 0 30px 0 40px;
}