.lastSection {
    place-items: center;
    margin: 0 440px;
    display: flex;
    padding: 0 0 200px 0;
}
.bigPhrase h1 {
    font-size: 48px;
    font-weight: bold;
}
.lastSectionButton {
    display: grid;
    justify-content: center;
}

/* footer */

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 25px 25px;
}

.footer-left h3 {
    font-size: 20px;
    font-weight: 500;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.footer-right a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
